@charset "utf-8";

*{font-family:'NanumSquareR', sans-serif !important}

body{background:#fff}
#header_new {display:none}
#wrap{position:relative; width:100%; background:#fff}


.con01_a{overflow:hidden; width:100%; height:auto; box-sizing:border-box; background:none}
.con01_m img{width:100%; max-width:880px}


.con02_a{overflow:hidden; width:100%; height:auto; box-sizing:border-box; background:none; position:relative}
.con02_m img{width:100%; max-width:880px}
#anim_img{position:absolute; bottom:130px; right:0;  animation-name: jump3; animation-timing-function: cubic-bezier(0.28, 0.84, 0.85, 1.1); animation-duration: 2.5s; animation-iteration-count: infinite;}
#anim_img img{max-width:175px !important}
#world_tit{position:absolute; top:15%; left:21%; animation:tada 1.5s 1;width:100%;}
#world_tit img{width:60%;}

.con03_a{overflow:hidden; width:100%; height:auto; box-sizing:border-box; background:none}
.con03_m img{width:100%; max-width:880px}


.con04_a{overflow:hidden; width:100%; height:auto; box-sizing:border-box; background:none}
.con04_m img{width:100%; max-width:880px}


.con05_a{overflow:hidden; width:100%; height:auto; box-sizing:border-box; background:#fcbe02;}
.con05_m img{width:100%; max-width:880px}
#cont_video{width:100%; height:0; padding:0 0 56.5% 0;  margin:0 auto; }
.videoWrap{margin:0 auto; border-radius:10px; border:20px solid #2f2f2f; }

.con06_a{overflow:hidden; width:100%; height:auto; box-sizing:border-box; background:#f7e8ff}
.con06_m img{width:100%; max-width:880px}


.con07_a{overflow:hidden; width:100%; height:auto; box-sizing:border-box; background:none}
.con07_m img{width:100%; max-width:880px}


.con08_a{overflow:hidden; width:100%; height:auto; box-sizing:border-box; background:none}
.con08_m img{width:100%; max-width:880px}

.con09_a{overflow:hidden; width:100%; height:auto; box-sizing:border-box; background:none}
.con09_m{width:90%; margin:0 auto; box-sizing:border-box; padding-bottom:40px}

.tab_menu{width:100%; overflow:hidden; margin:50px 0; }
.tab_menu p{width:50%; height:50px; line-height:50px; text-align:center; font-size:19px; font-weight:bold; float:left;}
.tab_menu p a{display:block; width:100%; height:50px; background-color:#e6e6e6; color:#bababa; }
.tab_menu p a.ativeT{ background-color:#9e9e9e; color:#fff; }

.search_wrap{color:#444; font-size:15px; font-weight:700; box-sizing:border-box; width:93%; margin:0 auto}
.search_wrap img{max-width:100%}
.search_box{width:100%}
.search_book{margin-bottom:10px}
.search_txt {width:calc(94% - 45px); height:37px; padding-left:5px; border:1px solid #ccc; color:#444; font-size:15px; font-weight:700}

#book_wrap{width:100%; box-sizing:border-box; border-bottom:3px solid #dcdcdc; }
#book_wrap .book_list_oBox{width:100%; padding:20px 0; border-top:2px solid #dcdcdc; box-sizing:border-box}
#book_wrap .book_list_oBox:nth-of-type(1){border-top:none}
#book_wrap .book_list_iBox{width:100%; margin:0 auto 15px; box-sizing:border-box; text-align:center}
#book_wrap .book_list_iBox .book_img{width:33%; vertical-align:middle; display:inline-block; border:7px solid #dcdcdc; box-sizing:border-box; border-radius:5px}
#book_wrap .book_list_iBox .book_img img{/*width:100%; max-width:130px*/ max-width:100%; max-height:100%}
#book_wrap .book_list_iBox .book_info{width:63.5%; vertical-align:middle; display:inline-block; margin-left:5px; box-sizing:border-box}
#book_wrap .book_list_iBox .book_tit{margin-bottom:10px; text-align:left}
#book_wrap .book_list_iBox .book_tit div{display:inline-block; font-weight:700; color:#231815; font-size:13.5px; vertical-align:top}
#list_num{width:30px; height:30px; background-color:#fdcc03; border-radius:50%; text-align:center; line-height:30px; margin-right:10px; display:inline-block; vertical-align:top}
#book_name{width:82%; line-height:1.6; display:inline-block}
.book_subtitle ul{width:100%;}
.book_subtitle ul li{display:inline-block; width:48%; cursor:pointer; margin-bottom:4px}
.book_subtitle ul li .subT_box{ border-radius:8px; text-align:center; font-weight:700; position:relative}
.book_subtitle ul li .clr_fdc{background-color:#fdcc03}
.book_subtitle ul li .clr_ff4{background-color:#ff4800}
.book_subtitle ul li .clr_ff4 p{color:#fff}
.book_subtitle ul li .subT_box p{font-size:12px; line-height:1.5; padding:6px 0; font-weight:700}
.book_subtitle ul li .subT_box span{font-size:14px}

#book_wrap2{padding-top:20px;}
#book_wrap2 ul{width:100%; overflow:hidden; border-bottom:3px solid #dcdcdc; }
#book_wrap2 li{ width:50%; float:left; position:relative; margin-bottom:30px; }
#book_wrap2 li p{text-align:center; }
#book_wrap2 li p.book_img{ width:74%; cursor:pointer; height:0; margin:0 auto; overflow:hidden; border:7px solid #dcdcdc; border-radius:10px; padding-bottom:105%; }
#book_wrap2 li p.book_name{ width:73%; height:45px; padding:5px; margin:5px auto 0; font-weight:bold; overflow:hidden; font-size:12px; }
/*#book_wrap2 li p.book_name{ cursor:pointer; width:73%; height:166px; padding:50px 7px 0; font-weight:bold; overflow:hidden; font-size:17px; background-color:rgba(0,0,0,.5); border-radius:10px; color:#fff; line-height:1.6; position:absolute; left:11%; top:0; display:none; }*/
#book_wrap2 li img{width:100%; }

.page_num{text-align:center}
.page_num ul{text-align:center; margin-top:30px}
.page_num ul li{display:inline-block}
.pageL_btn{margin-right:15px}
.pageR_btn{margin-left:15px}
.page_num ul li img{vertical-align:middle}
.page_num ul li div{width:25px; height:25px; border-radius:50%; background:#e6e6e6}
.page_num ul li div p{font-size:18px; padding-top:3px}
.page_num ul li div p a{color:#888}
.page_num ul .pageNum_btn{margin:0 5px; vertical-align:top}
.page_num ul .active{background:#434343}
.page_num ul .active p{color:#fff}


.no_res{text-align:center; font-weight:bold; line-height:58px}

/** 2019.04.08 추가 **/
.free_box{position:absolute; top:-3px; left:-2px; width:33px}

@media screen and (min-width:516px){
    #book_wrap .book_list_iBox .book_tit div{font-size:1rem}
}

@media screen and (max-width:515px){
    #book_wrap .book_list_iBox .book_tit div{font-size:0.75rem}
    #list_num{width:25px;  height:25px; line-height:25px; margin-right:5px; }
}

@media screen and (max-width:390px){
    #book_wrap .book_list_iBox .book_tit div{font-size:0.65rem}
    #list_num{margin-right:5px; }
}

@media screen and (max-width:365px){
    #book_wrap .book_list_iBox .book_tit div{font-size:0.45rem}
    #list_num{width:20px;  height:20px; line-height:20px; }
}



@keyframes jump3 {
    0% {
        transform: scale(1,1);
        transform: translateY(0);
    }
    10% {
        transform: scale(1,1)
            translateY(0);
    }
    30% {
        transform: scale(1,1)
            translateY(-20px);
    }
    50% {
        transform: scale(1.08,.95)
            translateY(0);
    }
    57% {
        transform: scale(1,1)
            translateY(-7px);
    }
    64% {
        transform: scale(1,1)
            translateY(0);
    }
    100% {
        transform: scale(0,0);
        transform: translateY(0);
    }
}

@keyframes tada {
    from {
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%{
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    90%{
        transform: scale3d(1, 1, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}
